<a routerLink="/home" class="back">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
    <span>Back</span></a>

<div class="country">
    <div class="flag">
        <img [src]="country.flag" alt="">
    </div>
    <div class="country-details" *ngIf="country">
        <p class="name"> {{ country.name }}</p>
        <div class="info">
            <div>
                <ul>
                    <li><span>Native Name: </span> {{ country.nativeName }} </li>
                    <li><span>Population: </span> {{ country.population }} </li>
                    <li><span>Europe: </span> {{ country.region }} </li>
                    <li><span>Subregion: </span> {{ country.subregion }} </li>
                    <li><span>Capital</span> {{ country.capital }} </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><span>Top Level Domain: </span> {{ country.topLevelDomain[0] }} </li>
                    <li>
                        <span>Currencies: </span> 
                        <span *ngFor="let currency of country.currencies"
                        style="font-weight: normal;">{{ currency.name }}</span> 
                    </li>
                    <li>
                        <span>Languages: </span> 
                        <span *ngFor="let language of country.languages" 
                            style="font-weight: normal;">{{ language.name + ', ' }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <p class="neighbours"><span>Border Countries:</span> 
            <a routerLink="" *ngFor="let b of country.borders"> {{ b }} </a></p>
    </div>
</div>