@import './../../../styles.scss';

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0 0px 3px 0px $dark-gray;
}

.header-text {
    font-size: 20px;
    font-weight: 800;
}

.dark-mode {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 300;

    span {
        padding-left: 4px;
    }
}